@import url(./modern-normalize.css);

@font-face {
    font-family: BebasNeue;
    src: url(../font/BebasNeue-Regular.ttf);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

header {
    text-align: center;
    background-color: #60a5fa;
    height: 80px;
    font-family: BebasNeue;
    font-weight: bold;
    font-size: 70px;
}

footer {
    flex-shrink: 0;
    text-align: center;
    font-size: 12px;
}

.playerBoardSquare,
.computerBoardSquare,
.square {
    width: 50px;
    height: 50px;
    border: 1px solid;
}

.playerBoard,
.computerBoard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    width: 50%;
    justify-content: center;
}

.computerBoard {
    display: none;
}

.computerBoardSquare {
    cursor: pointer;
}

.missedShot,
.shipStrike,
.ship {
    cursor: default;
    pointer-events: none;
}

.missedShot {
    background-color: #38bdf8;
}

.shipStrike {
    background-color: #dc2626;
}

.ship {
    background-color: #94a3b8;
}

.disableBoards {
    opacity: 50%;
    pointer-events: none;
}

.start {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.gameContent {
    display: flex;
}

.gameOverModal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.resultAndReset {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    font-size: 20px;
}

#resetBtn {
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 18px;
    background-color: #dc2626;
    color: white;
}

/* .carrierHorizontal, */
#carrierPiece,
#battleshipPiece,
#cruiserPiece,
#submarinePiece,
#destroyerPiece {
    background-color: #94a3b8;
    margin: 20px;
}

.carrierHor,
.battleshipHor,
.cruiserHor,
.submarineHor,
.destroyerHor {
    display: flex;
}

.carrierHor {
    width: 250px;
}

.battleshipHor {
    width: 200px;
}

.cruiserHor,
.submarineHor {
    width: 150px;
}

.destroyerHor {
    width: 100px;
}

.carrierVert,
.battleshipVert,
.cruiserVert,
.submarineVert,
.destroyerVert {
    display: inline-flex;
    flex-direction: column;
}

.dragHighlight {
    background-color: #94a3b8;
}

@media screen and (max-width: 480px) {
    .start {
        margin: 10px;
    }

    .gameContent {
        display: flex;
        flex-direction: column;
    }

    .playerBoard,
    .computerBoard {
        grid-template-columns: repeat(8, 35px);
        width: auto;
        margin: 20px;
    }

    .playerBoardSquare,
    .computerBoardSquare,
    .square {
        width: 35px;
        height: 35px;
        border: 1px solid;
    }

    .resultAndReset {
        margin: 50% auto;
        width: 50%;
        height: 40%;
    }

    #carrierPiece,
    #battleshipPiece,
    #cruiserPiece,
    #submarinePiece,
    #destroyerPiece {
        margin: 5px;
    }

    .carrierHor {
        width: 175px;
    }

    .battleshipHor {
        width: 140px;
    }

    .cruiserHor,
    .submarineHor {
        width: 105px;
    }

    .destroyerHor {
        width: 70px;
    }

    .playerPiecesHor {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .playerPiecesVert {
        margin: auto;
        text-align: center;
    }
}